body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(204, 0, 255));

}
.main{
    margin-left:550px;
    margin-top: 100px;
    background-image: linear-gradient(to right, rgba(255,0,0,0),rgb(22, 16, 16));
    border: 3px solid black;
    width: fit-content;
    height: 150px;
}
.screen{
    display: inline-block;
    margin-left: 30px;
    text-align: center;
    background-color: orangered;
    border: 2px solid black;
    width: 80px;
}
.btn{
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    background-color: wheat;
    width: 100px;
    border: 2px ridge black;
}
.btn_main{
    margin-right: 15px;
}
.top{
    background-image: linear-gradient(to right, rgba(255,0,0,0),rgb(22, 16, 16));
    color: yellow;
    text-align: center;
    border: 3px solid black;
    width: 250px;
    margin-left: 600px;
    margin-top: 100px;
}